
.comparison-table-container {
    margin-top: 54px;
    min-width: 1060px;
    .comparison-table {
        width: 100%;
        font-size: .875rem;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        table {
          
            table-layout: fixed;

            th {
                font-family: var(--helvetica-bold-font);
                color: #202124;
                font-weight: 700;
            }
            tr th:first-child {
                border-left: transparent;
            }
            tr td:last-child {
                border-right: transparent;
            }
        }

        .table-header {
            vertical-align: top;
            tr {
                border: 0px;
            }
            .remove-item {
                position: absolute;
                right: 10px;
                top: 5px;
            }

            .sub-info {
                font-size: 12px;
            }

            td {
                border: none !important;
            }

            .comparision-header {
                .heading {
                    margin-bottom: 15px;
                    font-size: 20px;
                }


                .informed-choices {
                    margin-bottom: 13px;
                }
            }

            .comparison-item {
                position: relative;
                margin: 20px 10px;
                padding: 10px;
                border-radius: 10px;
                border: 1px solid #EAEAEA;
                background: #FFF;
                text-align: center;
                min-height: 199px;
                .add-proj {
                    margin-bottom: 20px;
                }
            }

        }

        .proj-summary {
            .overview-btn {
                margin-top: 20px;
                width: 140px;
                font-size: 12px;
                height: 30px;
            }
            td,
            th {
                padding-top: 20px;
                padding-bottom: 20px;
            }

            td {
                padding-left: 55px;
                padding-right: 10px;
            }
            .amenities {
                .amenity {
                    margin-bottom: 20px;
                    .sub-info {
                        margin-left: 20px;
                    }
                }
            }
            .proj-canvas, .floor-plan {
                td {
                    padding-left: 10px;
                }
            }
            .paginated-floor-plan {
                .project-heading {
                    font-size: 12px;
                    margin-top: 0px;
                }
                .MuiPagination-ul {
                    button {
                        height: 20px;
                    }
                }
                .floor-plan-container {
                    border-radius: 10px;
                    border: 1px solid #EAEAEA;
                    margin-top: 30px;
                    padding: 15px;
                }
            }
        }
    }
}