.checklead-modal {
    .check-leads {
        padding: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 15px;
        background: #FFF;
        border: none;

        .heading-container {
            margin-bottom: 10px;
        }

        .sub-head {
            font-size: 10px;
        }

        .close-icon {
            top: 0;
            right: 0;
        }



        .lead-card-container{
            padding: 10px 30px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 30px;
            row-gap: 30px;
            overflow-y: scroll;
            max-height: 80vh;
              
            .lead-card {
                padding: 20px;
                min-width: 330px;
                .property-detail {
                    background-color: #DC143C0D;
                    padding: 12px 20px;
                    margin:20px -20px;
                }
              
                .usr-detail {
                    .usr-txt {
                       
                    }
                    .usr-name-cnt {
                        flex:1;
                        margin-left: 10px;
                    }
                    .date {
                        color: #70757A;
                        font-size: 10px;
                        text-align: right;
                    }
                }
            }
        }
        .contact-info {
            font-size: 12px;
        }
    }

}