.build-profile-modal {
    .close-icon {
        right: 25px;
        top: 25px;
    }
    .overflow-cnt {
        max-height: 70vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .build-profile-form {
        width: 70vw;
        max-width: 700px;
        padding: 30px 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 15px;
        background: #FFF;
        border: none;

        .sub-info {
            margin-bottom: 5px;
        }

        &:focus {
            outline: none
        }

        .heading {
            font-size: 24px;
        }

        .form {
            .form-row {
                padding-bottom: 20px;
            }
        
            .form-element-head {
                margin-bottom: 10px;
            }
        
            .form-section {
                margin-bottom: 20px;
        
                .form-row {
                    padding-top: 0px;
                    padding-bottom: 10px;
                }
            }
        
            .post-form-input {
                label {
                    color: #70757A;
                    transform: translate(23px, 15px) scale(1);
                }
        
                input {
                    font-size: 14px;
                    font-family: var(--microsoft-sans-font);
                    padding-left: 22px;
                }
            }
        
        
            .selection-dropdown {
                width: 100%;
                .MuiInput-root {
                    .MuiSelect-select {
                        padding-right: 0px;
                        display: flex;
                        align-items: center;
                        height: 50px;
                        border-radius: 25px;
                        background: #FFF;
                        padding: 10px 25px;
                        box-sizing: border-box;
                        
                        /* Drop shadow */
                        box-shadow: 8px 8px 40px 0px rgba(107, 107, 107, 0.20), 4px 4px 4px 0px rgba(107, 107, 107, 0.11);
                    }
                    svg {
                        right: 18px;
                    }
                }
        
            }
        }
    }
}