.featured-properties {
    .slick-slider {
        margin-left: 0px;
        margin-right: 50px;
        .slick-prev {
            left: 25px;
        }
    }
    .slick-slide {
        min-width: 250px;
    }
    // .slick-initialized .slick-track {
    //     min-width: 1500px !important;
    // }
    .card-item {
        margin-left:20px;
    }
}