.home-page-stats {
    height: 401px;
    > img {
        z-index: -1;
    }
    .stats {
        min-width: 139px;
        flex:1;
    }
    .stats-container {
        padding:65px 0px;
        width: 100%;
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.80);
        margin:75px 50px;
    }
    .image-container {
        width: 100px;
        height: 100px;
        background: #DC143C;
        border-radius: 100px;
    }

    // @media (max-width:  --small-screen) {
    //     .image-container { 
    //         width: 100px;
    //         height: 100px;
    //     }
        
    // }

    // @media (max-width:  --medium-screen) {
    //     .image-container { 
    //         width: 100px;
    //         height: 100px;
    //     }
    // }

    @media (max-width:  $grid-breakpoints-lg) {
        .image-container { 
            width: 80px;
            height: 80px;
        }
    }


}