.contact-us-container {
  padding-top: 50px;
  padding-bottom: 50px;

  .info {
    margin-bottom: 42px;

    .heading {
      font-size: 36px;
      letter-spacing: 1.8px;
      margin-bottom: 6px;
    }
  }

  .address-container {
    font-size: 16px;
    .write-to-us {
      margin-bottom: 20px;
    }
  }

  .contact-us-form-container {
    padding-right: 7vw;
  }

  .connect-with-us {
    letter-spacing: 0.8px;
    line-height: 150%;
    max-width: 486px;
  }

  .vertical-line {
    border-left: 1px solid #808080;
    height: 443px;
  }

  .contact-icons-container {
    margin-top: 20px;

    .contact-image-wrapper {
      margin-right: 24px;
      width: 31px;
      height: 31px;
      border: 1px solid #202124;
      border-radius: 30px;
    }
  }
}