.my-profile {
    border-radius: 10px;
    background: #FFF;

    /* Drop shadow */
    box-shadow: 8px 8px 40px 0px rgba(107, 107, 107, 0.20), 4px 4px 4px 0px rgba(107, 107, 107, 0.11);
    padding: 38px 68px;
    .profile-pic {
        width: 151px;
        height: 151px;
        img {
            width: 151px;
            height: 151px;
            border-radius: 151px;
            border: 1px solid #EAEAEA;
            overflow: hidden;
        }
        .edit-pencil {
            bottom: 9px;
            right: 9px;
        }
    }
    .form {
        margin-top: 38px;
        .form-row {
            margin-bottom: 30px;
            .sub-info {
                width: 136px;
            }
            .form-input {
                flex: 1;
            }
        }
    }
}