.book-property-form {
    padding-top: 50px;
    padding-bottom: 58px;

    .next-button {
        margin-top: 30px;
        width: 157px;
    }

    &>.heading {
        font-size: 24px;
        font-style: normal;
        line-height: 150%;
        /* 36px */
        letter-spacing: 1.2px;
    }

    .steps {
        margin-top: 55px;
    }

    .inventory-selection {
        .site-plan-cnt {
            margin-top: 50px;

            .property-card-cnt {
                width: 25%;
                .img-container {
                    border-radius: 10px 10px 0px 0px;
                    width: 100%;
                    height: 170px;
                    overflow: hidden;
                }                        
            }

            .site-plan {
                flex: 1;   
            }

            .site-plan-image {
                border-radius: 10px;
                overflow: hidden;               
            }
        }

        .sub-heading-space {
            margin-right: 30px;
        }

        .section {
            margin-bottom: 40px;
        }

        .take-tour {
            font-size: clamp(14px, 2vw,24px);
            font-style: normal;
            line-height: 150%;
            /* 36px */
            letter-spacing: 1.2px;
            width: 100%;
            height: 80px;
            border-radius: 40px;
            background: #FFF;
            box-shadow: 8px 8px 40px 0px rgba(107, 107, 107, 0.20), 4px 4px 4px 0px rgba(107, 107, 107, 0.11);
        }

        .selection-dropdown {
            .MuiInput-root {

                .MuiSelect-select {
                    padding-right: 0px;
                    display: flex;
                    align-items: center;
                    height: 50px;
                    border-radius: 25px;
                    background: #FFF;
                    padding: 10px 25px;
                    width: 124px;
                    box-sizing: border-box;
                    /* Drop shadow */
                    box-shadow: 8px 8px 40px 0px rgba(107, 107, 107, 0.20), 4px 4px 4px 0px rgba(107, 107, 107, 0.11);
                }

                svg {
                    right: 30px;
                }
            }

        }

        .tower-bhk-cnt {
            .bhk-cnt {
                margin-left: 50px;
            }
        }

        .apartment {
            .tab {
                margin-bottom: 20px;
            }
            .sub-heading-2 {
                margin-right: 15px;
                margin-bottom: 20px;
            }
        }

        .floor-cnt {
            .floor-tabs {
                margin-bottom: 10px;

                .tab {
                    margin-bottom: 20px;
                }
            }

            .floor-plan {
                margin-left: 100px;
                padding: 20px;
                width: calc(100% - 100px);
                height: 410px;

                .floor-plan-img-cnt {
                    width: 100%;
                    height: 330px;
                }
            }
        }
        @media (max-width:  $grid-breakpoints-xl) { 
            .site-plan-cnt {

                .property-card-cnt {
                    width: 100%;
                }
    
                .site-plan {
                    height: 318px;
                    margin-left: 0px;
                    margin-top: 30px;
                }
    
            }
            .floor-cnt {
                .floor-plan {
                    margin-left: unset;
                    padding: 20px;
                    width: unset;
                    height: 410px;
                }
            }
        }
    }

    .personal-details {
        .project-heading-cnt {
            margin-bottom: 20px;
            .project-heading {
                font-size: 16px;
            }
        }
        .form-row {
            padding-bottom: 20px;
        }
        .form-element-head {
            margin-bottom: 10px;
        }
        .form-section {
            margin-bottom: 30px;
            .form-row {
                padding-top: 0px;
                padding-bottom: 10px;
            }
        }

        .post-form-input {
            label {
                color: #70757A;
                transform: translate(23px, 15px) scale(1);
            }

            input {
                padding-left: 22px;
            }
        }

        .file-upload-form {
            color: #70757A;

            .file-list .preview-container {
                width: 45px;
                height: 45px;
            }

            .form-file-upload {
                height: 116px;
            }

            .label-file-upload {
                justify-content: flex-start;
                padding-left: 46px;
            }

            margin-bottom: 20px;

            .upload-button {
                background: rgba(211, 211, 211, 0.50);
                color: #202124;
                box-shadow: unset;
                margin-top: 0px;
                margin-right: 30px;
            }
        }
        .declaration-cnt {
            margin-top: 30px;
            .declaration-txt {
                margin-left: 20px;
            }
        }
        .owner-checkbox-cnt {
            margin-top: 20px;
            margin-bottom: 10px;
            .owner-checkbox {
                padding:0;
                margin-right: 10px;
            }
        }

        @media (max-width:  $grid-breakpoints-xl) and (min-width: $grid-breakpoints-md) { 
            .payment-summary {
                .property-payable-container {
                    padding-top: 20px;
                    .property-payable {
                        padding-right: 30px;
                        padding-left: 20px;
                        border-top: 0;
                        border-left: 1px solid #EAEAEA;
                    }
                }
            }
        }
    }

    .payment-and-book {
        .user-info {

            margin-top: 30px;
            padding: 10px 30px 30px;

            .sub-heading.project-heading {
                + svg {
                    margin-bottom: 15px;
                }
            }

            .details {
                width: 60%;
            }

            .project-heading {
                margin-top: 0px;
                color: #4D5156;
                font-size: 16px;
                padding-top: 20px;
            }

            .sub-info.row {
                margin-bottom: 10px;
            }

            .signature-container {
                margin-top: 15px;
                width: 116px;
                height: 40px;
                border-radius: 5px;
                border: 1px solid #EAEAEA;            
            }
        }
        .payment-methods {
            margin-top: 40px;
            
            .tab {
                font-size: clamp(12px, 2vw, 24px);
                width: 22vw;
                max-width: 270px;
                max-height: 80px;
                height: 12vw;
                border-radius: 40px;
                margin-right: 4vw;
                background: #FFF;
                border: 0px;
                box-shadow: 8px 8px 40px 0px rgba(107, 107, 107, 0.20), 4px 4px 4px 0px rgba(107, 107, 107, 0.11);
                &:last-child {
                    margin-right: 0;
                }
                &.selected {
                    border: none;
                    background: #DC143C;
                    color: #fff;
                }
            }
        }
        @media (max-width:  $grid-breakpoints-xl) and (min-width:  $grid-breakpoints-md) { 
            .payment-summary {
                .property-payable-container {
                    padding: 20px;
                    .property-payable {
                        border-top: 0px;
                        border-left: 1px solid #EAEAEA;
                        padding-left: 20px;
                        padding-top: 0;
                    }
                }
            }
        }
    }
}