.property-header {
    .overview-sub-info {
        width: 50%;

        .sub-info {
            font-size: 10px;
        }

        .sub-heading-2 {
            font-size: 12px;
        }
    }

    .best-buy-txt {
        margin-right: 10px;
    }

    .near-by-details {
        .near-by-text {
            margin-left: 10px;
        }
    }

    .rating {
        margin-top: 12px;
        margin-bottom: 12px;

        .rating-value {
            margin-right: 5px;
        }

        .rating-count {
            margin-left: 5px;
        }
    }

    .property-sub-info {
        font-size: 10px;
    }

    .btn-cnt {
        margin-top: 12px;
        button {
            margin-right: 10px;            
        }
    }

    .dev-logo-cnt {
        margin-bottom: 10px;
        margin-right: 9px;
    }

    .project-title {
        font-size: 20px;
    }

    .project-address {
        margin-top: 5px;
        font-size: 10px;
    }

    .dev-by {
       
    }

    .label {
        margin-top: 16px;
    }

    .property-share-icons {
        margin-bottom: 7px;

        svg {
            margin-left: 16px;
        }
    }

    .price-range-cnt {
        margin-top: 15px;
        margin-bottom: 10px;

        .price {
            letter-spacing: 0.4px;
            font-size: 20px;
            font-family: var(--helvetica-bold-font);
        }

        .taxes-applicable {
            font-size: 12px;
        }
    }

    .info-box-container {
        .sub-info {
            font-size: 12px;
        }
    }
}