.search-bar {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 8px 8px 40px #6b6b6b33, 4px 4px 4px #6b6b6b1c;
    padding: 34px 20px 24px;

    .search-tabs {
        margin-bottom: 22px;

        button {
            font-family: var(--helvetica-regular-font);
            font-size: clamp(12px, 2vw, 20px);
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1px;
            color: #4D5156;
        }
    }

    .input-label-no-shrink {
        // transform: translate(122px, 24px) scale(1);
    }

    .vertical-line {
        border-left: 1px solid #808080;
        height: 33px;
    }

    .search-box {
        border-radius: 32px;
        flex: 1;
        border: 1px solid #D3D3D3;
        .location-container {
            padding-left: 35px;
        }
        .search-input-container {
            .Mui-focused {
                color: #70757A;
            }

            .search-input {
                background-color: #ffffff;
                border-radius: 34px;
                height: 69px;

                input {
                    padding-left: 19px;
                }

                &.MuiInputBase-root {
                    border: none;

                    .MuiOutlinedInput-notchedOutline {
                        border: none;
                        // border: 1px solid #D3D3D3;
                    }

                    &:hover {
                        .MuiOutlinedInput-notchedOutline {
                            // border-color: #D3D3D3;
                        }
                    }
                }
            }
        }
    }

    .search-location-dropdown {
        div {
            color: #4D5156;
            text-align: center;
            font-family: var(--microsoft-sans-font);
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.8px;
            display: flex;
            align-items: center;
        }
    }

    .search-bar-icons {
        img {
            background-color: #dc143c99;
            border-radius: 30px;
            padding: 4px;
            box-sizing: content-box;
            margin-left: 20px;
        }
    }

    .search-bar-btn {
        font-family: var(--helvetica-regular-font);
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 1.2px;
        margin-left: 25px;
        width: 185px;
    }
}