

.row2 {
  width: 100%;
  display: flex;
  gap: 5%;
}

.dashboard {
  width: 100%;
  margin-top: 2%;
  animation: slideUp 0.7s ease-in-out 0.4s; /* 0.2s delay after table */
}
.col-md-9 {
  margin-left: 14px;
  width: 60%;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(44, 62, 80, 0.2);
  height: 320px;
  gap: 5%;
  object-fit: cover;
}


.col-md-3 {
  margin-right: 10px;
  width: 32%;
  height: 320px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(44, 62, 80, 0.2);
  object-fit: cover;
}

a.canvasjs-chart-credit{
  color: white;
  position: static;
}

.canvasjs-chart-canvas{
width: 630px;
height: 245px;
}
.canvasjs-chart-canvas{
  width: 630px;
height: 245px;
}

.col-md-9 .col-md-3.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
}

.leftCard {
  display: flex;
  flex: 1;
  margin-top: 10px;
  margin-right: 20px;
  border-bottom: 1px solid #ccc;
}
.rightCard {
  display: flex;
  margin-top: 10px;
  border-bottom: 1px solid #ccc;
}
.leftCard h6 {
  margin-left: 40px;
  width: 200px;
}
h6 {
  margin-left: 20px;
  font-size: 16px;
  font-weight: bold;
}

.dropdownsDash {
  display: flex;
  align-items: center;
  margin-top: 4px;
  margin-left: 10%;
}
.rightCard select {
  margin-top: 7px;
  margin-left: 5%;
}
.rightCard select{
  padding: 4px;
  border: 1px solid #ccc;
  height: 2rem;
  border-radius: 30px;
  margin-left: 10%;
  font-size: 14px;
  background-repeat: no-repeat;
  background-position: right 8px center;
}
.dropdownsDash select {
  padding: 4px;
  border: 1px solid #ccc;
  height: 2rem;
  border-radius: 30px;
  margin-left: 5%;
  font-size: 14px;
  background-repeat: no-repeat;
  background-position: right 8px center;
  /* background-size: 10px 10px; */
}
