.contact-us-form {
    div, button {
        font-size: 12px;
    }
    .contact-form-input {
        margin-bottom: 23px;
        .input-label-no-shrink {
            transform: translate(14px, 5px) scale(1);
            font-size: 12px;
        }
    }
    .contact-form-message-input {
        border-radius: 14.52px;
        .input-label-no-shrink {
            transform: translate(14px, 13px) scale(1);
            font-size: 12px;
        }
    }
    .input-label-no-shrink {
        transform: translate(14px, 24px) scale(1);
    }
    .consent-message {
        font-size: 10px;
        margin-top: 5px;
    }
    .support-btn-container {
        margin-top: 15px;
    }
}