.checklead-page {
    padding: 50px 100px !important;

    .back-bnt {
        font-size: 14px;
        top: -30px;
        left: -50px;
    }

    .posted-content {
        filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.25));
    }


    .heading-container {
        margin-bottom: 10px;
    }

    .sub-head {
        font-size: 10px;
    }

    .close-icon {
        top: 0;
        right: 0;
    }

    .leads-cnt {
        flex: 1;
        .prop-sub-data:not(:first-child)::before {
            content: '|';
            font-size: 20px;
            color: #EAEAEA;
            margin-left: 4px;
            margin-right: 4px;
        }        
        .lead-card-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 20px;
            row-gap: 40px;

            .lead-card {
                padding: 20px;
                min-width: 330px;

                .property-detail {
                    background-color: #DC143C0D;
                    padding: 12px 20px;
                    margin: 20px -20px;
                }

                .usr-detail {
                    .usr-txt {}

                    .usr-name-cnt {
                        flex: 1;
                        margin-left: 10px;
                    }

                    .date {
                        color: #70757A;
                        font-size: 10px;
                        text-align: right;
                    }
                }
            }
        }

        .contact-info {
            font-size: 12px;
        }

        @media (max-width:  $grid-breakpoints-md) {
            .lead-card-container {
                grid-template-columns: 1fr;
            }
        }
    }

}