.profile-form, .personal-details {
    .form-row {
        padding-bottom: 20px;
    }

    .form-element-head {
        margin-bottom: 10px;
    }

    .form-section {
        margin-bottom: 30px;

        .form-row {
            padding-top: 0px;
            padding-bottom: 10px;
        }
    }

    .post-form-input {
        label {
            color: #70757A;
            transform: translate(23px, 15px) scale(1);
        }

        input {
            padding-left: 22px;
        }
    }


    .selection-dropdown {
        width: 100%;
        .MuiInput-root {
            .MuiSelect-select {
                padding-right: 0px;
                display: flex;
                align-items: center;
                height: 50px;
                border-radius: 25px;
                background: #FFF;
                padding: 10px 25px;
                box-sizing: border-box;
                
                /* Drop shadow */
                box-shadow: 8px 8px 40px 0px rgba(107, 107, 107, 0.20), 4px 4px 4px 0px rgba(107, 107, 107, 0.11);
            }
            svg {
                right: 18px;
            }
        }

    }

    .file-upload-form {
        color: #70757A;

        .file-list .preview-container {
            width: 45px;
            height: 45px;
        }

        .form-file-upload {
            height: 116px;
        }

        .label-file-upload {
            justify-content: flex-start;
            padding-left: 46px;
        }

        margin-bottom: 20px;

        .upload-button {
            background: rgba(211, 211, 211, 0.50);
            color: #202124;
            box-shadow: unset;
            margin-top: 0px;
            margin-right: 30px;
        }
    }

    .declaration-cnt {
        margin-top: 30px;

        .declaration-txt {
            margin-left: 20px;
        }
    }

    .owner-checkbox-cnt {
        margin-top: 20px;
        margin-bottom: 10px;

        .owner-checkbox {
            padding: 0;
            margin-right: 10px;
        }
    }
}