.schedule-modal {
    .schedule-calendar {
        padding: 40px 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 15px;
        background: #FFF;
        border: none;
        &:focus {
            outline: none
        }
        .MuiDateCalendar-root {
            border-radius: 10px;
            background: #FFF;

            /* Drop shadow */
            box-shadow: 8px 8px 40px 0px rgba(107, 107, 107, 0.20), 4px 4px 4px 0px rgba(107, 107, 107, 0.11);
            .Mui-selected {
                background-color: #DC143C;
            }
        }

        .close-icon {
            right: 25px;
            top: 25px;
        }
        .heading {
            margin-top: 15px;
            margin-bottom: 10px;
            color: #4D5156;
        }
        .time-dot {
            margin-right: 7px;
            margin-left: 7px;
        }
        .schedule-visit-txt {
            margin-top: 0px;
            font-size: 36px;
            margin-bottom: 10px;
        } 
        .schedule-visit-subtxt {
            margin-bottom: 10px;
        }
        .selection-dropdown {
            &.ampm {
                margin-left: 20px;
            }
            .MuiInput-root {

                .MuiSelect-select {
                    padding-right: 0px;
                    display: flex;
                    align-items: center;
                    height: 40px;
                    border-radius: 25px;
                    background: #FFF;
                    padding: 10px 25px;
                    width: 90px;
                    box-sizing: border-box;
                    /* Drop shadow */
                    box-shadow: 8px 8px 40px 0px rgba(107, 107, 107, 0.20), 4px 4px 4px 0px rgba(107, 107, 107, 0.11);
                }

                svg {
                    right: 18px;
                }
            }

        }
        .mobile-input-container {
            flex: 1;
            margin-right: 20px;
            border-radius: 20px;
            background: #FFF;
           
            box-shadow: 8px 8px 40px 0px rgba(107, 107, 107, 0.20), 4px 4px 4px 0px rgba(107, 107, 107, 0.11);
            .MuiInputBase-root {
                border: none;
            }
        }
    }
}