.property-page {


    .sub-info {
        font-size: 12px;
        line-height: normal;
    }

    .similar-properties,
    .similar-projects {
        margin-top: 25px;

        .card-item {
            margin-left: 20px;
        }
    }
}