.footer {

    margin-top: 50px;
    .list-property {
        img {
            top: -5px;
        }
    }
    .seo-links {
        width: 100%;
        background-color: #F7F7F7;
        a {
            font-size: 12px;
        }
    }
    .site-links {
        font-size: 14px;
    }
    .compact-search-bar {
        flex: 1;
        text-align: left;
    }
    .footerLinksColumns a {
        display: block;
        font-weight: 400;
        color: #202124;
        margin-bottom: 21px;
    }
    .hr {
        border: 1px solid #202124;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .download-app-container {
        max-width: 300px;
        .appLogo {
            margin-top: 19px;
            img {
                margin-right: 5px;
            }
        }
    }
    .about-us {
        .head {
            margin-bottom: 11px;
        }
    }
    .search-box-container {
        padding-top: 18px;
        margin-bottom: 28px;
    }
    .foot-search-bar {      
    }
    .qr-code-msg {
        width: 181px;
        margin-left: 14px;
        letter-spacing: 0.8px;
        line-height: 24px;
    }
    .connect-info-container {
        .connect-info {
            margin-bottom: 31px;
        }
        .connect-info:last-child {
            margin-bottom: 0px;
        }
        .head {
            margin-bottom: 18px;
        }
    }
    .head {
        font-size: 20px;
    }
    .social-media-links {
        margin-top: 22px;
    }
    .contact-icons-container {
        margin-top: 20px;

    }
    .contact-image-wrapper {
        width: 45px;
        height: 45px;
        background: #F7F7F7;
        border-radius: 45px;
        margin-right: 12px;
    }
}

.home {
    .footer {
        margin-top: 0px;
    }
}