.footer {
    background: #EAEAEA;
    .trophy-container {
        margin-top: 37px;
        border-radius: 10px;
        background: #FFF;
        width: 98px;
        height: 98px;
    }
    div:not(.property-x) {
        font-family: var(--microsoft-sans-font);
        color: var(--text-color-shark);
    }
    .property-x {
        width: 280px;
        height: 60px;
        background: #FFF;
    }
    .footerLinksColumns a {
        display: block;
        font-weight: 400;
        font-size: 20px;
        color: #202124;
        margin-bottom: 21px;
    }
    .hr {
        border: 1px solid #202124;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .download-app-container {
        max-width: 300px;
        .appLogo {
            margin-top: 19px;
            img {
                margin-right: 5px;
            }
        }
    }
    .about-us {
        .head {
            margin-bottom: 11px;
        }
    }
    .search-box-container {
        padding-top: 18px;
        margin-bottom: 28px;
    }
    .foot-search-bar {
        padding-left: 20vw;
    }
    .qr-code-msg {
        width: 181px;
        margin-left: 14px;
        letter-spacing: 0.8px;
        line-height: 24px;
    }
    .connect-info-container {
        .connect-info {
            margin-bottom: 31px;
        }
        .connect-info:last-child {
            margin-bottom: 0px;
        }
        .head {
            margin-bottom: 18px;
        }
    }
    .head {
        font-size: 20px;
    }
    .social-media-links {
        margin-top: 22px;
    }
    .contact-icons-container {
        margin-top: 20px;
        .contact-image-wrapper {
            width: 45px;
            height: 45px;
            background: #fff;
            border-radius: 45px;
            margin-right: 35px;
        }
    }

}