.header {
    font-size: 16px;
    padding-top: 17px;
    padding-bottom: 17px;
    min-height: 60px;
    background: #fff;
    z-index: 4;

    .logo-link {
        margin-left: 20px;
    }
    filter: drop-shadow(8px 8px 40px rgba(107, 107, 107, 0.20)) drop-shadow(4px 4px 4px rgba(107, 107, 107, 0.11));
    .links {
        span {
            margin-right: 30px;
        }
        .list-free {
            display: inline-block;
            margin-left: 3px;
            color: #fff;
            background-color: #f22b68;
            padding: 2px 4px;
            font-size: 8px;
            line-height: 9px;
            margin-right: 0;       
        }
    }
    .compact-search-bar {
        border: 1px solid #D3D3D3;
        border-radius: 15px;
        width: 36vw;
        max-width: 516px;
    }
    .heading-normal {
        a {
            color: #202124;
        }
    }
    .search-small-icon {
        width: 24px;
        height: 24px;
        margin-right: 20px;
    }
    .mobile-search-container {
       span {
        margin-right: 0px;
       }

        background: #fff;
        border-bottom: 1px solid #e1e1e1;
        align-items: center;
        display: flex;
        position: absolute;
        height: 60px;
        z-index: 4;
        top: 46px;
        width: 100%;
        padding: 10px;
        left: 0;
        transform: scale(0);

        &.open {
            transform: scale(1);
       }
        .compact-search-bar-container {
            background-color: #f8f8f8;
            padding: 10px;
            width: 100%;
        }
        .location-container {
            max-width: 40vw;
        }
        .compact-search-bar {
            width: 100%;
            border: none;
            .input-label-no-shrink {
                transform: translate(38px, 7px) scale(1);
            }
        }
    }
}
.ham-list {
    .ham-item {
        color: #202124;
        font-family: Helvetica;
        padding: 10px 20px;
    }
}