.banner {
    height: 446px;
    position: relative;

    .banner-content {
        top:0;
        padding-top: 95px;
        max-width: 743px;
        line-height: 60px;
        word-wrap: break-word;

        .content-1 {
            font-size: 40px;
            font-weight: 700;
            letter-spacing: 4px;

        }
        .content-2 {
            z-index: 1;
            font-size: 30px; 
            letter-spacing: 3px;
        }
    }
}

.developer-container {
    .sub-heading.title {
        font-size: 30px;
        line-height: 150.023%;
        margin-bottom: 3px;
        margin-top: 80px;
        color: #202124;
    }
    .sub-heading-3.sub-title {
        font-size: 16px;
        letter-spacing: 0.8px; 
        margin-bottom: 60px;      
    }
}

.search-bar-container {
    margin-top: -62px;
    z-index: 1;   
}

.download-app {
    margin-top: 100px;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #eaeaea;
    border-radius: 20px 20px 0px 0px;
    .download-logo {
        top: 0;
        right: 0;
    }
    .download-app-txt-cnt {
        padding-left: 86px;
        padding-top: 62px;
        .download-app-txt {
            font-size: 50px;
            letter-spacing: 2.5px
        }
        .download-app-sub-txt {
            font-size: 20px;
            letter-spacing: 1px;
        }
    }
    .download-link-container {
        margin-top: 14px;
        color: #FFF;
        background: linear-gradient(180deg, rgb(32, 33, 36) 0%, rgb(220, 20, 60) 100%);
        padding-left: 86px;
        height: 169px;
        img {
            margin-right:24px;
        }
        .qr-code-img {
            align-self: flex-start;
            margin-top: 13px;
        }
        .scan-txt {
            max-width: 110px;
            line-height: 150%;
            letter-spacing: 0.8px;
            margin-right: 8px;
            color: #FFF;
        }
    }
}

.featured-properties, .featured-projects {
    .slick-list {
        margin-right: -100px !important;
        padding-left: 100px !important;
    }
}
@media (max-width:  $grid-breakpoints-md) {
    .featured-properties, .featured-projects {
        .slick-list {
            margin-right: -100px !important;
            padding-left: 20px !important;
        }
    }
}