.trusted-developers {
    .slick-track {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .slick-slide {
        min-width: 334px;
    }
    .rating-value {
        font-size: 12px;
    }

    .trusted-dev-card {
        position: relative;
        font-weight: 400;
        font-family: var(--microsoft-sans-font);
        margin-right: 35px;
        min-height: 248px;

        .dev-description {
            margin-top: 10px;
            font-size: 10px;
        }
        .trusted-dev-card-info {
            padding: 15px 20px;
            width: 100%;
        }

        .vertical-line {
            width: 14px;
        }

        .sub-heading-2 {
            line-height: normal;
            letter-spacing: 0.8px;
        }

        .image-container {
            align-items: flex-start;
            justify-content: center;
            position: relative;
            border: 2px solid #D9D9D9;
            margin-right: 10px;
            border-radius: 10px;
            overflow: hidden;

            .verified-image {
                position: absolute;
                right: 5px;
            }
        }

        .property-info {
            font-size: 12px;
            margin-top: 12px;

            .body-txt {
                font-size: 10px;
            }
        }

        .chip-container {
            .chip {
                margin-right: 10px;
            }

            span {
                font-size: 10px;
                color: #70757A;
                font-family: var(--microsoft-sans-font);
            }
        }

        .horizontal-line {
            margin-top: 20px;
            margin-bottom: 20px;
            border-bottom: 2px solid rgba(112, 117, 122, 0.60);
        }
    }
}