.property-floor-plan {
    ul {
        list-style: none;
        /* Remove default bullets */
    }

    ul li::before {
        content: "\2022";
        color: #DC143C;
        font-size: 19px;
        display: inline-block;
        width: 18px;
        margin-left: -32px;
    }

    .card-slider-floor {
        // padding: 40px;
    }

    .card-item {
        //margin-left: 30px;
        padding: 35px 14px 35px 40px;
    }
    // .slick-list {
    //     padding: 0px !important;
    //     margin: 0 !important;
    // }

    .image-container {
        overflow: hidden;
        width: 466px;
        height: 300px;
    }

    .floor-plains-available {
        margin-bottom: 10px;

        .floor-option {
            min-height: 30px;
            padding: 0 20px;
            border-radius: 17px;
            background: #FFF;
            margin-right: 10px;

            /* button shadow */
            box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);

            &.selected {
                border: 1px solid #DC143C;
            }
        }
    }

    .no-available {
        color: #70757A;
        font-size: 14px;
        margin-bottom: 20px;
    }
    .floor-info {
        margin-right: 10px;
    }
    .size-info {
        border-radius: 10px;
        border: 1px solid #EAEAEA;
        margin-bottom: 20px;
        padding: 6px 16px;
    }

    // .slick-slide {
    //     display: flex;
    //     justify-content: center; /* Center the content horizontally */
    //     max-width: 700px;
    //     margin-right: 20px;
    //   }

      
    .floor-plan-card-container{
        max-width: 80vw;
        // width: 100%;
        // height: 500px; /* Adjust height as needed */
        // display: flex;
        // text-align: center;
        // box-sizing: border-box;
        // padding: 20px;
      }


    // /* Responsive design */
    // @media (min-width: 1024px) {
    //     .slick-slide {
    //         display: flex;
    //         justify-content: center; /* Center the content horizontally */
    //         max-width: 700px;
    //         margin-right: 20px;
    //       }
    //     .floor-plan-card-container {
    //         max-width: 500px;
    //     }
    // }

    @media (max-width: 1500px) {
        .slick-slide , .floor-plan-card-container {
            max-width: 600px;
        }
    }
    
    @media (max-width: 1200px) {
        .slick-slide , .floor-plan-card-container {
             max-width: 50vw;
        }
    }
    
    @media (max-width: 900px) {
        .slick-slide , .floor-plan-card-container {
            max-width: 300px;
        }
    }
}