.post-property {
    padding: 50px 0;
    .maximize-your {
        width: 577px;
    }
    .property-txt {
        margin-bottom: 33px;
        .heading {
            font-size: 36px;
            margin-bottom: 6px;
        }
    }
    .property-btn {
        margin-top: 24px;
        a:first-child {
            margin-right: 19px;
        }
        button {
            font-size:clamp(16px, 2vw, 24px);
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 36px */
            letter-spacing: 1.2px;
        }
    }
    .sticky-note-container {
        width: 384px;
        height: 331px;
        flex-shrink: 0;
        margin-left: 17px;
    }
    .info-container {
        margin-top: 50px;
        padding: 30px 20px;
        .info {
            margin-top: 42px;
        }
        .video-container {
            div {
                width: 363px;
                height: 242px;
            }
            .video-1-container {
                margin-right: 40px;
            }
        }
    }
}