.profile-page {
    color: #202124;
    margin-top: 50px;
    margin-bottom: 100px;
    font-family: var(--microsoft-sans-font);
    .tab-name {
        font-size: 24px;
        margin-bottom: 30px;
    }
    .active-tab-container {
        flex: 1;
        width: calc(100% - 244px);
    }
    .profile-tabs {
        min-width: 223px;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 8px 8px 40px 0px rgba(107, 107, 107, 0.20), 4px 4px 4px 0px rgba(107, 107, 107, 0.11);
        margin-right: 40px;
        padding: 20px 28px;
        height: 610px;
        color: #202124;
        .profile-short-info {
            div:not(.name) {
                font-size: 12px;              
            }
            .profile-image {
                border-radius: 120px;
                border: 1px solid #EAEAEA;
                overflow: hidden;
                width: 120px;
                height: 120px;
                margin-bottom: 5px;
            }
        }
        .tab-items {
            margin-top: 15px;
            color: #202124;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;           
            letter-spacing: 0.8px;
        }
    }
}