.payment-summary {
    padding-bottom: 30px;
    margin-top: 30px;

    .property-details {
        font-size: 10px;
        padding-top: 20px;
        padding-left: 20px;

        .sub-info {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }

    .heading {
        font-size: 14px;
    }

    .property-details,
    .property-payable {       
        color: #202124;
    }

    .property-payable-container {
        padding-top: 20px;
        .property-payable {
            border-left: 1px solid #EAEAEA;
            padding-right: 30px;
            font-size: 12px;
            padding-left: 20px;

            .amount-payable {
                margin-bottom: 20px;
            }

            .cost-breakup {
                margin-bottom: 10px;
            }

            .sub-info {
                margin-bottom: 12px;               
            }

            .amount-payable, .cost-breakup, .booking-amount, .sub-info {
                div:nth-child(2) {
                    text-align: right;
                }
            }

            .booking-amount {
                margin-top: 22px;
            }
        }
    }

    .amenities-container {
        padding-left: 20px;
        margin-top: 20px;

        .sub-info {
            margin-top: 6px;
        }

        .amenities {
            .amenity {
                margin-right: 10px;
                max-width: 49px;
                font-size: 8px;
                line-height: normal;
                letter-spacing: 0.16px;
                margin-top: 14px;
            }
        }
    }
}

.payment-summary.vertical {
    .property-payable-container { 
        padding: 20px 30px 0px;
        .property-payable {
            border-left:unset;
            border-top: 1px solid #EAEAEA;
            padding-top: 20px;
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}

@media (max-width:  $grid-breakpoints-md) { 
    .payment-summary {
        .property-payable-container {
            padding: 20px;
            .property-payable {
                border-left: 0px;
                border-top: 1px solid #EAEAEA;
                padding-top: 20px;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}