.developer-page {
    margin-top: 50px;
    margin-bottom: 50px;
    .dev-info {
        margin-bottom: 20px;
        .heading {
            font-size: clamp(20px, 2vw, 24px);
            margin-bottom: 10px;
        }
        .sub-info {
            font-size: 12px;
        }
        .property-info {
            margin-top: 20px;
            > span {
                margin-right: 20px;
                color: #202124;
            }
        }
        .dev-description {
            line-height: 150%;
        }
    }
    .project-heading-cnt {
        margin-bottom: 30px;
    }
    .chip {
        margin-right: 20px;
    }

    .property-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        row-gap: 30px;
        .property-card-cont {
            .img-container {
                height: 150px;
                width: 100%;
            }
        }
    }

    @media (max-width:  $grid-breakpoints-md) {
        .property-cards {
            display:block;
            .property-card-cont {
                margin-bottom: 20px;
                .img-container {
                    height: 224px;
                    width: 100%;
                }
            }
        }
    }
}