.slanted-tabs {
    box-shadow: -3px 4px 5px -5px #333;
    border-radius: 10px;
    .tab-list {
        position: relative;
        z-index: 1;
        white-space: nowrap;

        .tab-list-item {
            position: relative;
            display: inline-block;
            padding: 10px 30px 10px 16px;
            min-width: 190px;
            color: inherit;
            text-decoration: none;

            &::before {
                content: '';
                /* To generate the box */
                position: absolute;
                top: -4px;
                right: -8px;               
                left: 0px;
                height: 48px;
                z-index: -1;
                border-bottom: none;
                border-radius: 10px 10px 0 0;
                background: rgba(242, 242, 242);
               
                transform: perspective(5px) rotateX(1deg);
                transform-origin: bottom left;
                box-shadow: 0 -5px 5px -5px rgba(107, 107, 107, 0.2);

            }

            &.tab-list-active {
                z-index: 2;

                &::before {
                    margin-bottom: -1px;
                    border-top-width: 1px;
                    background: #fff;
                }
            }
        }
    }
    .tab-content-wrapper {
        border-radius: 10px;
        border-top-left-radius:0px;
        min-height: 647px;
        background: #FFF;
        filter: drop-shadow(8px 8px 40px rgba(107, 107, 107, 0.20)) drop-shadow(4px 4px 4px rgba(107, 107, 107, 0.11));
        overflow: auto;
    }
}